/* TODO Add site wide styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;

  --color-darkmode-background: #2f3237;
  --color-darkmode-text: #fff;
  --color-darkmode-transition: background-color 0.3s ease;

  --color-lightmode-background: #fff;
  --color-lightmode-text: #333;
  --color-lightmode-transition: background-color 0.3s ease;
  
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  
}

body.light-mode {
  background-color: var(--color-lightmode-background);
  color: var(--color-lightmode-text);
  transition: var(--color-lightmode-transition);
}
body.dark-mode {
  background-color: var(--color-darkmode-background);
  color: var(--color-darkmode-text);
  transition: var(--color-darkmode-transition);
}


/* li{
    list-style-type: none;
} */













